header {
  text-align: center;
}

h1 {
  font-size: 100px;
  padding-top: 100px;
  margin: 0;
  color: white;
}

p {
  font-size: 50px;
  color: white;
  text-align: center;
}

body{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0 auto 100px auto;

}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/mix.jpg");
  padding-bottom: 40px;
  background-repeat: no-repeat;
}

img {
    display: block;
    float: left;
    width: 30%;
    height: 300px;
    margin: 1%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    text-align: center;
    line-height: 200px;
    font-size: 150px;
}

.form-input {
  width: 400px;
  font-size: 30px;
  padding-right: 3%;
}

.btn {
  display: inline-block;
  font-size: 25px;
  background: transparent;
  font-style: oblique;
  margin: 0 auto;
}
