h1 {
  font-size: 100px;
  padding: 0;
}

p {
  font-size: 50px;
  ;
}

body{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 150px auto 100px auto;

}

.header-images {
  background-image: url(mix.jpg);
}

img {
    display: block;
    float: left;
    width: 30%;
    height: 300px;
    margin: 1%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    text-align: center;
    line-height: 200px;
    font-size: 150px;
}